.navbar-phone{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main-phone{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: -2px;
    position: fixed;
    top: 0;
}

.categories{
    display: flex;
    flex-direction: row;
    gap: 7px;
    overflow-x: overlay;
    width: 100vi;
    margin-top: 28px;
    position: fixed;
    background-color: white;
}

.left-phone{
    width: 40%;
    align-items: center;
}

.right-phone{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    width: 35%;
    margin-left: 140px;
    gap: 10px;
}

@media (min-width: 1024px) {
    .navbar-phone{
        display: none;
    }
}