.video-card{
    margin-bottom: 25px;
}

iframe{
    width: 100vi;
    height: 190px;
    margin-left: -10px;
}

.description{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.left img{
    border-radius: 50%;
    width: 35px;
}

.right{
    margin-left: 15px;
}

.right h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.rightbot{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 10px;
}

.rightbot p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

@media (min-width: 1024px){
    iframe{
        width: 100%;
        border-radius: 15px;
        height: 230px;
        margin-left: 0;
    }

    .video-card{
        margin-left: 5px;
        margin-right: 18px;
    }

    .rightbot{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}