form{
    display: flex;
    background-color: white;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
}

.inputs-div{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    width: 70%;
}

.input-task{
    border-radius: 5px;
    height: 25px;
    text-align: center;
    font-size: 14px;
}

.submit-btn{
    background-color: green;
    margin-right: 20px;
}

.disabled-btn{
    background-color: grey;
    margin-right: 20px;
}

@media (max-width: 800px) {
    form{
        display: flex;
        flex-direction: column;
        width: 85vw;
        margin-top: 2vh;
    }

    .inputs-div{
        width: 80%;
    }

    .submit-btn{
        background-color: green;
        margin: 0;
        margin-bottom: 15px;
    }
    
    .disabled-btn{
        background-color: grey;
        margin: 0;
        margin-bottom: 15px;
    }
 }