.BigContainer{
    display: flex;
    flex-direction: column;
    
}
.Container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 500px;
    margin-left: 380px;
    background-color: rgb(199, 196, 196);
    padding-right: 10px;
    padding-left: 10px;
}

.Title {
    padding-top: 20px;
    padding-left: -15px;

}