.task-complete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(181, 110, 248);
    align-items: center;
    padding: 15px;
}

.task-complete p{
    color: white;
}

.task-incomplete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 15px;
}

.info-task{
    display: flex;
    flex-direction: column;
}

.task-title{
    font-weight: bold;
}