.main-bar{
    display: flex;
    flex-direction: row;
    width: 95vi;
    height: 40px;
}

.left-bar{
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-left: 10px;
}

.center-bar{
    display: flex;
    flex-direction: row;
    width: 140%;
}

.search-bar{
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ccc;
}

.search-bar::placeholder{
    padding-left: 15px;
    font-size: 16px;
}


.right-bar{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: end;
    gap: 10px;
}

@media (max-width: 1023px) {
    .main-bar{
        display: none;
    }
 }