.container{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show-gif{
    width: 90vi;
    height: 60.6vh;
    background-color: black;
    margin: 0 auto;
}

.show-gif img{
    min-width: 90vi;
    max-width: 90vi;
    min-height: 60.6vh;
    max-height: 60.6vh;
}

.teams{
    color: white;
    display: flex;
    flex-direction: row;
    width: 90vi;
    height: 22vh;
    background-color: black;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.team-1{
    margin-left: 20px;
    width: 30vi;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-2{
    margin-right: 20px;
    width: 30vi;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-team{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-team2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.buttons-section{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
    width: 100%;
}