.task-list {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 42vh;
    background-color: white;
    overflow-y: auto;
}

.mesage{
    margin: 0 auto;
    margin-top: 16vh;
    font-size: 18px;
    font-weight: bold;
}

.task-list::-webkit-scrollbar {
    width: 8px; 
    background-color: transparent; 
}

.task-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 4px; 
}

@media (max-width: 800px) {
    .task-list {
        display: flex;
        flex-direction: column;
        width: 85vw;
        height: 55vh;
    }

    .mesage{
        margin-top: 22vh;
    }
}