.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: gray;
}

.header img{
    width: 25vi;
    height: 8vh;
    margin-top: 15px;
    margin-bottom: 15px;
}