.categories{
    display: flex;
    flex-direction: row;
    gap: 7px;
    overflow-x: overlay;
    width: 100vi;
    margin-top: 25px;
    position: fixed;
    background-color: white;
}

.videos{
    margin-top: 65px;
}