@media (max-width: 1024px) {
    .categories-desktop{
        display: none;
    }

    .videos{
        margin-top: 65px;
    }

    .content-section{
        width: 100%;
    }
}

@media (min-width: 1024px){
    .videos{
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
        overflow-y: auto;
    }

    .categories-desktop{
        display: flex;
        flex-direction: row;
        overflow-x: overlay;
        gap: 15px;
        margin-right: 18px;
        margin-left: 5px;
    }

    .content-section{
        margin-top: 15px;
        margin-left: 10px;
    }
}