.button {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
  .button {
    height: 30px;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #fc78ea 0%, #9624f3 100%);
    box-shadow: 0 0 .4vw rgb(183, 0, 255), 0 0 0 .15vw transparent;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
  }
  
  .button:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .button:active {
    opacity: 0.5;
  }