.section-btn{
    box-sizing: content-box;
    background-color: white;
    border: none;
}

.profile-phone{
    border-radius: 50%;
}

.section-btn img{
    width: 20px;
    height: 20px;
}

.section-btn p{
    margin: 0;
    font-size: 12px;
}

@media (min-width: 1024px){
    .profile-phone{
        border-radius: 0;
        width: 100%;
    }

    .section-btn img{
        margin-left: 0;
        margin-right: 0;
    }
    
    .section-btn p{
        margin-top: 6px;
        font-size: 10px;
    }
}
