.section-btn{
    box-sizing: content-box;
    background-color: white;
    border: none;
    margin-top: 5px;
}

#profile-phone{
    border-radius: 50%;
}

.section-btn img{
    width: 20px;
    height: 20px;
}

.section-btn p{
    margin: 0;
    font-size: 12px;
}
