.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    background-color: gray;
}

.footer h3{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 8px;
    margin-right: 20px;
}