.sections-phone{
    display: flex;
    flex-direction: column;
    width: 20vh;
    gap: 30px;
    margin-top: 30px;
}

@media (max-width: 1023px) {
    .sections-phone{
        display: flex;
        flex-direction: row;
        width: 100vi;
        height: 40px;
        justify-content: space-between;
        border-top: 1px solid grey;
        background-color: white;
        position: fixed;
        margin-top: 784px;
    }
}
