.more-options{
    display: flex;
    flex-direction: column;
    height: 685px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

@media (max-width: 1023px) {
    .more-options{
        display: none;
    }
}