footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50vw;
    background-color: wheat;
    height: 8vh;
}

p{
    font-size: 16px;
}